<!-- first launch file to launch buddy -->
<launch>
    <group>
        <param name="topicOut" value="buddySerial"/>
        <param name="publishRate" value="10.0" type="double"/>
        <param name="debugEnable" value="True" type="string"/>
<!--    <param name="comPort" value="/dev/USBTTY0"/> -->
        <node pkg="motor_control_drivers" name="serial" type="serial_node.py"/>
    </group>

    <group ns="ultra">
        <param name="topicIn" value="/buddySerial"/>
        <param name="topicOut" value="ultra"/>
        <param name="sensorScale" value="0.05" type="double"/>
        <param name="sensorType" value="Ultra"/>
        <param name="sensorAngleRad" value="0.31415692" type="double"/>
        <param name="sensorMinDistM" value="0" type="int"/>
        <param name="sensorMaxDistM" value="400" type="int"/>
        <param name="numberDataPoints" value="10" type="int"/>
        
        <node pkg="sensor_to_laser" name="ultraSonicBack" type="sensor_to_laser_base.py">
            <remap from="sensorNum" to="/ultra/ultraSonicBack/sensorNum"/>
            <param name="sensorNum" value="0" type="int"/>
            <remap from="validMask" to="/ultra/ultraSonicBack/validMask"/>
            <param name="validMask" value="16" type="int"/>
        </node>
        
        <node pkg="sensor_to_laser" name="ultraSonicFront" type="sensor_to_laser_base.py">
            <remap from="sensorNum" to="/ultra/ultraSonicFront/sensorNum"/>
            <param name="sensorNum" value="1" type="int"/>
            <remap from="validMask" to="/ultra/ultraSonicFront/validMask"/>
            <param name="validMask" value="32" type="int"/>            
        </node>
        
    </group>

   <group ns="infra">
        <param name="topicIn" value="/buddySerial"/>
        <param name="topicOut" value="infra"/>
        <param name="sensorScale" value="0.04" type="double"/>
        <param name="validMask" value="8" type="int"/>
        <param name="sensorType" value="infra"/>
        <param name="sensorAngleRad" value="0.1" type="double"/>
        <param name="sensorMinDistM" value="0" type="int"/>
        <param name="sensorMaxDistM" value="180" type="int"/>
        <param name="numberDataPoints" value="10" type="int"/>
        
        <node pkg="sensor_to_laser" name="infraRed0" type="sensor_to_laser_base.py">
            <remap from="sensorNum" to="/infra/infraRed0/sensorNum"/>
            <param name="sensorNum" value="0" type="int"/>        
        </node>

        <node pkg="sensor_to_laser" name="infraRed1" type="sensor_to_laser_base.py">
            <remap from="sensorNum" to="/infra/infraRed1/sensorNum"/>
            <param name="sensorNum" value="1" type="int"/>        
        </node>
        
        <node pkg="sensor_to_laser" name="infraRed2" type="sensor_to_laser_base.py">
            <remap from="sensorNum" to="/infra/infraRed2/sensorNum"/>
            <param name="sensorNum" value="2" type="int"/>        
        </node>
        
        <node pkg="sensor_to_laser" name="infraRed3" type="sensor_to_laser_base.py">
            <remap from="sensorNum" to="/infra/infraRed3/sensorNum"/>
            <param name="sensorNum" value="3" type="int"/>        
        </node>

        <node pkg="sensor_to_laser" name="infraRed4" type="sensor_to_laser_base.py">
            <remap from="sensorNum" to="/infra/infraRed4/sensorNum"/>
            <param name="sensorNum" value="4" type="int"/>        
        </node>
        
        <node pkg="sensor_to_laser" name="infraRed5" type="sensor_to_laser_base.py">
            <remap from="sensorNum" to="/infra/infraRed5/sensorNum"/>
            <param name="sensorNum" value="5" type="int"/>        
        </node>
    </group>
    
    <group ns="staticTFs">
        <node pkg="tf" type="static_transform_publisher" name="infraTF0" args="0.5 0.5 0 0 0 0 1 frame_infra0 sensor_base 1" />
        <node pkg="tf" type="static_transform_publisher" name="infraTF1" args="-0.5 0.5 0 0 0 0 1 frame_infra1 sensor_base 1" />
        <node pkg="tf" type="static_transform_publisher" name="infraTF2" args="-0.5 0 0 0 0 1 frame_infra2 sensor_base 1" />
        <node pkg="tf" type="static_transform_publisher" name="infraTF3" args="-0.5 -0.5 0 0 0 0 1 frame_infra3 sensor_base 1" />
        <node pkg="tf" type="static_transform_publisher" name="infraTF4" args="0.5 -0.5 0 0 0 0 1 frame_infra4 sensor_base 1" />
        <node pkg="tf" type="static_transform_publisher" name="infraTF5" args="0.5 0 0 0 0 0 1 frame_infra5 sensor_base 1" />
        
        <node pkg="tf" type="static_transform_publisher" name="ultraTF0" args="1 0 0 0 0 0 1 frame_ultra0 sensor_base 1" />
        <node pkg="tf" type="static_transform_publisher" name="ultraTF1" args="1 0 0 0 0 0 1 frame_ultra1 sensor_base 1" />
    </group>
</launch>
