<!-- first launch file to launch buddy -->
<launch>
    <master auto="start"/>
    <param name="/use_sim_time" value="true"/>
    <node pkg="stage_ros" type="stageros" name="StageROS" args="/opt/ros/kinetic/share/stage_ros/world/willow-erratic.world"/>
    
    <group>
        <node pkg="motor_control_drivers" name="buddyRefresher" type="refreshBuddyData.py"/>
        <!--Refresh Rate in Hz-->
        <param name="refreshRate" value="10" type="int"/>
        <param name="buddyPort" value="/dev/ttyUSB0" type="string"/>
        <node pkg="motor_control_drivers" name="buddyWriter" type="serialWriter.py"/>
        <node pkg="motor_control_drivers" name="buddyReader" type="serialReader.py"/>
    </group>

    <group ns="ultra">
        <param name="BuddySerialDataTopic" value="/BuddyPacket"/>
        <param name="LaserDataOutputTopic" value="ultra"/>
        <param name="sensorType" value="Ultra"/>
        <param name="sensorAngleRad" value="0.31415692" type="double"/>
        <param name="sensorMaximumDistance" value="0" type="int"/>
        <param name="sensorMinimumDistance" value="400" type="int"/>
        <param name="numberDataPoints" value="10" type="int"/>
        <node pkg="sensor_to_laser" name="ultraSonicBack" type="sensor_to_laser.py">
            <remap from="sensorIndex" to="/ultra/ultraSonicBack/sensorIndex"/>
            <remap from="validMask" to="/ultra/ultraSonicBack/validMask"/>
            <param name="sensorIndex" value="0" type="int"/>
            <param name="validMask" value="16" type="int"/>
        </node>
        <node pkg="sensor_to_laser" name="ultraSonicFront" type="sensor_to_laser.py">
            <remap from="sensorIndex" to="/ultra/ultraSonicFront/sensorIndex"/>
            <remap from="validMask" to="/ultra/ultraSonicFront/validMask"/>
            <param name="sensorIndex" value="1" type="int"/>
            <param name="validMask" value="32" type="int"/>            
        </node>
    </group>

    <group ns="infra">
        <param name="BuddySerialDataTopic" value="/BuddyPacket"/>
        <param name="LaserDataOutputTopic" value="infra"/>
        <param name="sensorType" value="Infra"/>
        <param name="validMask" value="8" type="int"/>
        <param name="sensorAngleRad" value="0.31415692" type="double"/>
        <param name="sensorMaximumDistance" value="0" type="int"/>
        <param name="sensorMinimumDistance" value="180" type="int"/>
        <param name="numberDataPoints" value="10" type="int"/>
        <node pkg="sensor_to_laser" name="infraRed0" type="sensor_to_laser.py">
            <remap from="sensorIndex" to="/infra/infraRed0/sensorIndex"/>
            <param name="sensorIndex" value="0" type="int"/>
        </node>
        <node pkg="sensor_to_laser" name="infraRed1" type="sensor_to_laser.py">
            <remap from="sensorIndex" to="/infra/infraRed1/sensorIndex"/>
            <param name="/ultra/infraRed1/sensorIndex" value="1" type="int"/>
        </node>
        <node pkg="sensor_to_laser" name="infraRed2" type="sensor_to_laser.py">
            <remap from="sensorIndex" to="/infra/infraRed2/sensorIndex"/>
            <param name="sensorIndex" value="2" type="int"/>
        </node>
        <node pkg="sensor_to_laser" name="infraRed3" type="sensor_to_laser.py">
            <remap from="sensorIndex" to="/infra/infraRed3/sensorIndex"/>
            <param name="sensorIndex" value="3" type="int"/>
        </node>
        <node pkg="sensor_to_laser" name="infraRed4" type="sensor_to_laser.py">
            <remap from="sensorIndex" to="/infra/infraRed4/sensorIndex"/>        
            <param name="sensorIndex" value="4" type="int"/>
        </node>
        <node pkg="sensor_to_laser" name="infraRed5" type="sensor_to_laser.py">
            <remap from="sensorIndex" to="/infra/infraRed5/sensorIndex"/>
            <param name="sensorIndex" value="5" type="int"/>
        </node>
    </group>
</launch>
